src/main/resources/wsdl/TestWSDLFile.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/TestWSDLFile/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TestWSDLFile" targetNamespace="http://www.example.org/TestWSDLFile/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.example.org/TestWSDLFile/">
      <xsd:element name="GetGame">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="gameId" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetGameResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="game" type="tns:Game"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    
      <xsd:complexType name="Game">
      	<xsd:sequence>
      		<xsd:element name="id" type="xsd:string"></xsd:element>
      		<xsd:element name="name" type="xsd:string"></xsd:element>
      		<xsd:element name="score" type="xsd:int" maxOccurs="1"
      			minOccurs="0">
      		</xsd:element>
      		<xsd:element name="description" type="xsd:string"></xsd:element>
      		<xsd:element name="genre" type="tns:genreType"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>

      <xsd:complexType name="genreType">
      	<xsd:sequence>
      		<xsd:element name="id" type="xsd:string"></xsd:element>
      		<xsd:element name="name" type="xsd:string"></xsd:element>
      		<xsd:element name="description" type="xsd:string"></xsd:element>
      	</xsd:sequence>
      </xsd:complexType>
      <xsd:element name="CreateGame">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="input" type="tns:Game"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateGameResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="tns:Game"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="GetGenre">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="GetGenreResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="genre" type="tns:genreType"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateGenre">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="genre" type="tns:genreType"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateGenreResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="tns:genreType"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateGenreFault">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="CreateGenreFault"
      				type="xsd:string">
      			</xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="GetGameRequest">
    <wsdl:part element="tns:GetGame" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetGameResponse">
    <wsdl:part element="tns:GetGameResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="CreateGameRequest">
  	<wsdl:part name="parameters" element="tns:CreateGame"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="CreateGameResponse">
  	<wsdl:part name="parameters" element="tns:CreateGameResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetGenreRequest">
  	<wsdl:part name="parameters" element="tns:GetGenre"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetGenreResponse">
  	<wsdl:part name="parameters" element="tns:GetGenreResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="CreateGenreRequest">
  	<wsdl:part name="parameters" element="tns:CreateGenre"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="CreateGenreResponse">
  	<wsdl:part name="parameters" element="tns:CreateGenreResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="CreateGenreFault">
  	<wsdl:part name="parameters" element="tns:CreateGenreFault"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="TestWSDLFile">
    <wsdl:operation name="GetGame">
      <wsdl:input message="tns:GetGameRequest"/>
      <wsdl:output message="tns:GetGameResponse"/>
    </wsdl:operation>
    <wsdl:operation name="CreateGame">
    	<wsdl:input message="tns:CreateGameRequest"></wsdl:input>
    	<wsdl:output message="tns:CreateGameResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGenre">
    	<wsdl:input message="tns:GetGenreRequest"></wsdl:input>
    	<wsdl:output message="tns:GetGenreResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateGenre">
    	<wsdl:input message="tns:CreateGenreRequest"></wsdl:input>
    	<wsdl:output message="tns:CreateGenreResponse"></wsdl:output>
        </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TestWSDLFileSOAP" type="tns:TestWSDLFile">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetGame">
      <soap:operation soapAction="http://www.example.org/TestWSDLFile/GetGame"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
      <wsdl:operation name="CreateGame">
          <soap:operation soapAction="http://www.example.org/TestWSDLFile/GetGame"/>
          <wsdl:input>
              <soap:body use="literal"/>
          </wsdl:input>
          <wsdl:output>
              <soap:body use="literal"/>
          </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="GetGenre">
          <soap:operation soapAction="http://www.example.org/TestWSDLFile/GetGame"/>
          <wsdl:input>
              <soap:body use="literal"/>
          </wsdl:input>
          <wsdl:output>
              <soap:body use="literal"/>
          </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="CreateGenre">
          <soap:operation soapAction="http://www.example.org/TestWSDLFile/GetGame"/>
          <wsdl:input>
              <soap:body use="literal"/>
          </wsdl:input>
          <wsdl:output>
              <soap:body use="literal"/>
          </wsdl:output>
      </wsdl:operation>

  </wsdl:binding>
  <wsdl:service name="TestWSDLFile">
    <wsdl:port binding="tns:TestWSDLFileSOAP" name="TestWSDLFileSOAP">
      <soap:address location="http://www.example.org"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
